<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-phones">

    <ng-container matColumnDef="phoneStatus">
        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="center center">Status</th>
        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="center center"
            [ngSwitch]="element.phoneStatus">
            <span *ngSwitchCase="'PROCESSED'">Processed</span>
            <span *ngSwitchCase="'NOT_PROCESSED'">Not Processed</span>
            <span *ngSwitchDefault>Unknown</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="center center">Phone</th>
        <td mat-cell *matCellDef="let element" fxFlex="40" fxLayoutAlign="center center">
            {{element.phone | prettyPhone }}</td>
    </ng-container>

    <ng-container matColumnDef="canBeDialed">
        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="center center">Can Be Dialed</th>
        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="center center"
            [ngSwitch]="element.canBeDialed">
            <span *ngSwitchCase="false">Invalid</span>
            <span *ngSwitchCase="true">Valid</span>
            <span *ngSwitchDefault>Unknown</span></td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="center center">Edit</th>
        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="center center">
            <button mat-button matTooltip="Edit phone" (click)="showEditDialog(element)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #phonesTablePaginator [length]="dataSource.totalItems$ | async" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons></mat-paginator>